@import "src/@fuse/scss/fuse";

.object-nominator-dialog {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 720px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .invisible {
        display: block;
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .url-checkbox {
        margin-bottom: 20px;
    }
}
