<div id="ngx-datatable" class="page-layout simple fullwidth docs">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center"
    >
        <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-xs="column"
            fxLayoutAlign.gt-xs="center start"
        >
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Object Nominator</span>
            </div>
            <div class="h2 mt-16">Deep Object Based Production (OBP)</div>
            <div class="h3 mt-10">{{ selectedCoi | uppercase }}</div>
        </div>

        <!-- <a mat-raised-button class="reference-button mt-16 mt-sm-0"
           href="https://github.com/swimlane/ngx-datatable"
           target="_blank">
            <mat-icon class="mr-8">link</mat-icon>
            <span>Reference</span>
        </a> -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <!-- Search for:
        <input
            #searchStr
            (keyup.enter)="updateSearchHighlight(searchStr.value)"
            (blur)="updateSearchHighlight(searchStr.value)"
        />
        <br /><br />
        <b>ngx-datatable</b>
        <div innerHTML="{{ str | highlight: searchStr.value }}"></div> -->

        <ngx-datatable
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [selectionType]="'checkbox'"
            [limit]="5"
            (activate)="onActivate($event)"
            (select)="onSelect($event)"
        >
            <ngx-datatable-column
                [width]="40"
                [canAutoResize]="false"
                [sortable]="false"
            >
                <ng-template
                    ngx-datatable-header-template
                    let-value="value"
                    let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn"
                >
                    <mat-checkbox
                        [checked]="allRowsSelected"
                        (change)="selectFn(!allRowsSelected)"
                    ></mat-checkbox>
                </ng-template>

                <ng-template
                    ngx-datatable-cell-template
                    let-value="value"
                    let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn"
                >
                    <mat-checkbox
                        [checked]="isSelected"
                        (change)="onCheckboxChangeFn($event)"
                    ></mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
                name="Entity Type"
                prop="entity_type"
                width="30"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Name"
                prop="name"
                width="30"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Source"
                prop="source"
                width="30"
            ></ngx-datatable-column>

            <ngx-datatable-column name="URL" prop="url" width="auto">
                <ng-template
                    ngx-datatable-cell-template
                    let-value="value"
                    let-row="row"
                >
                    <ul>
                        <li *ngFor="let link of value"><a href="{{ link }}"> {{ link }} </a></li>
                    </ul>
                    <!-- </ng-template>
                <ng-template let-row="row" let-rowIndex="rowIndex">
                    <ul>
                        <li>{{ row[rowIndex] }}</li>
                    </ul> -->
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <div class="content p-24">
        <mat-card *ngIf="selectedObjects.length">
            <h4>
                Object Candidates <small>({{ selected.length }})</small>
            </h4>
            <div style="max-height: 200px; overflow-y: scroll;">
                <table class="blueTable">
                    <tr>
                        <th>Object Name</th>
                        <th>Object Type</th>
                        <th>Source</th>
                        <th>Create Object?</th>
                    </tr>
                    <tr *ngFor="let obj of selectedObjects">
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.type }}</td>
                        <td>{{ obj.source }}</td>
                        <td style="text-align: center;">
                            <div style="display: inline-block;">
                                <button
                                    mat-raised-button
                                    color="primary"
                                    (click)="readArticle(obj)"
                                >
                                    Yes</button
                                >&nbsp;
                                <button
                                    mat-raised-button
                                    color="primary"
                                    (click)="discardObj(obj)"
                                >
                                    No
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </mat-card>
    </div>
</div>
